body{
	background:#4C4D50;
}

.nav-wrapper{
	background:#181818	;
}

.page-footer{
	background:#181818	;
}


.im{
height: 500px;
width: 1000px;	
}



.im3{
height: 500px;
width: 1000px;
}



.im2{
height: 500px;
width: 1000px;
}

.im1{
height: 500px;
width: 1000px;
}

.im0{
height: 500px;
width: 1000px;
}




.name{
	margin-right: 80px;
	margin-left: 80px;
}


.mi0{
	height: 500px;
	width: 1000px;
}

.mi3{
	height: 500px;
	width: 1000px;
}

.mi1{
	height: 500px;
	width: 1000px;
}

.mi2{
	height: 500px;
	width: 1000px;
}



.nav-wrapper{font-family: oswald;

}

.sv{font-family: oswald; 
	font-size: 60px;
	color: lightgrey;
}

.na{font-family: mukta ;
	font-size: 20px;
    color: white;
}

















